#OPENAI_API_KEY=sk-proj...
#OPENAI_MODEL=gpt-realtime-1.5
#MQTT_HOST=homeassistant.local
#MQTT_PORT=1883
#MQTT_USERNAME=billy
#MQTT_PASSWORD=
#HA_HOST=http://homeassistant.local:8123
#HA_TOKEN=
#HA_LANG=NL
#SPEAKER_PREFERENCE=UACDemo
#NEWS_REQUEST_TIMEOUT_SECONDS=6
